.container{
    display: flex;
    background-color: red;
    max-width: 100%;
    max-height: 100%;
    /* how to make this piece of shit occupy the whole content zzz */
}
.c1{
    background-color: aquamarine;
}
.c2{
    background-color: blanchedalmond;
}
.c1, .c2{
    flex: 1;
}