.contact{
    display: flex;
}
mat-card{
    flex: 1;
    text-align: center;
    margin-left:1rem;
}
.github{
    border: solid;
    border-color: aqua;
}
.gmail{
    border: solid;
    border-color: red;
    border-radius: 2px, 2, 2px ,2;
}
.linkedIn{
    border: solid;
    border-color: aqua;
}
.facebook{
    border: solid;
    border-color: blue;
}
.ig{
    border: solid;
    border-color: coral;
    margin-right:1rem;

}