.contact{
    display: flex;
}
mat-card{
    flex: 1;

    text-align: center;
    margin-left:1rem;
}
.github{
    border: solid;
    border-color: darkgray;
}
.gmail{
    border: solid;
    border-color: red;
}
.linkedIn{
    border: solid;
    border-color: aqua;
}
.facebook{
    border: solid;
    border-color: blue;
}
.ig{
    border: solid;
    border-color: coral;
    margin-right:1rem;
}
mat-card{
        border-radius: 15px 50px;

}
mat-card-actions{
    justify-content: center;
    margin-top: auto;
}
